@import 'src/assets/toolbox';

.ingredients {
  font-size: 13px;
  line-height: 16px;
  display: block;
  margin-bottom: 24px;
  font-family: $font-family-special;
}

.ingredients__title {
  display: block;
  font-family: $font-family-special;
  text-transform: uppercase;
  font-weight: 900
}
