.ingredients {
  font-size: 10px;
  line-height: 16px;
  display: block;
  padding: 16px;
  border: 1px dashed #1F1702;
  margin-bottom: 24px;
}

.ingredients__title {
  display: block;
  font-weight: 900
}
