.header {
  display: grid;
  width: 100%;
  padding: 12px 20px 13px;
  grid-template-columns: auto 24px;
  grid-gap: 14px;

}
.header__name {
  display: grid;
  align-items: center;
  grid-template-columns: 30px auto;
  grid-gap: 14px;
}

.header__logo {
  position: relative;
  background-color: #1F1702;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFEFB;
  font-weight: 500;
  font-size: 15px;
  height: 30px;
  width: 30px;
}
.header__logo::after{
  position: absolute;
  top:2px;
  left:2px;
  right:2px;
  bottom:2px;
  border: 1px dashed #FFFEFB;
  border-radius: 50%;
  content: "";
}
.header__title{
  color: #1F1702;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  
}
