@import 'reset-css/sass/reset';
@import 'src/assets/toolbox';

// Fonts
@import url('https://fonts.googleapis.com/css2?Noto+Sans:wght@300+900&Noto+Serif:wght@400;700&family=Playfair+Display&display=swap');


// Global
*, *:before, *:after {
  box-sizing: border-box;
}

// Typography
body {
  font-family: $font-family-body;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; 
  color: $color-text;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  &:last-child {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
}

p, ul, ol {
  margin-bottom: 24px;
}

h1 {
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 24px;
}


a {
  text-decoration: none;
}
