.image {
  display: block;
  position: relative;
  margin-bottom: 24px;
  background-color: grey;
  width: 100%;
}

.image__tags {
  display: flex;
  gap: 4px;
  padding: 16px 12px;
  width: 100%;
}

img + .image__tags {
  position: absolute;
  bottom: 0;
  left: 0;
}


